aside {
    width: 20%;
    background-color: #1e1e1e; /* Fondo del aside */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.8em; /* Tamaño de la fuente aumentado */
    margin-bottom: 15px;
    color: #b385ff; /* Morado claro */
}

aside .links {
    display: block;
    padding: 20px 0; /* Ajuste del espaciado en los enlaces */
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px; /* Bordes redondeados */
}

.links:hover {
    background: #7207be;
    color: #fff;
}



/* Añadir animación a los botones */
button {
    background-color: #b385ff; /* Morado claro */
    color: #fff;
    padding: 15px 25px; /* Ajuste del espaciado en los botones */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #8e63e7; /* Morado más oscuro */
    transform: scale(1.05);
}
