body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

aside {
    width: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #ddd;
}

#search{
    padding: 0.5em;
    border-radius: 4px;
    border: solid 2px #217093;
    font-size: 1em;
    color: #353538;
    transition: box-shadow .2s linear, border-color .25s ease-out;
}

#search:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0,0,0,.1);
    border: solid 2px #4eb8dd;
}