@charset "UTF-8";
@import url("http//fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0px;
  font-family: "Inter", "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

/* Oculta el botón de menú y el menú desplegable en la versión de escritorio */
.menu-button, .menu-button-checkbox, .mobile-menu {
  display: none;
}

header {
  background-color: #4eb8dd;
  display: flex;
  padding: 1em;
  max-height: 5vh;
  padding: 20px; /* Ajusta el espaciado según tus necesidades */
  padding-left: 10%;
  padding-right: 10%;
}
header h1 {
  padding-left: 1rem;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .icons {
  display: flex;
  margin-left: auto;
  padding-right: 1rem;
  color: white;
  text-decoration: none;
}
header .icons a.button,
header .icons button {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-right: 1rem;
  color: white;
}
header .icons a.button img,
header .icons button img {
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
header .icons a.button p,
header .icons button p {
  margin-left: 0.5rem;
}
header .icons a.button:link, header .icons a.button:visited {
  text-decoration: none;
}
header .icons button {
  border: none;
  background-color: #4eb8dd;
  cursor: pointer;
}
header .icons button:hover, header .icons button:active {
  background-color: #4eb8dd;
}

.categorias {
  margin-left: 2.5em;
  margin-right: 1em;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 5px solid #FFF;
  background: var(--MediumBlue, #4EB8DD);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: -4px;
}
.categorias select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}
.categorias select:focus {
  outline: none;
}

.searchBar {
  max-width: 550px;
  width: 550px;
  height: 45px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0;
  align-items: center;
  border-radius: 50px;
  background: var(--BGColor, #F3FAFD);
  margin-top: -4px;
}
.searchBar.open {
  grid-template-rows: 1fr 100vh;
}
.searchBar input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 50px;
  box-sizing: border-box;
  background: none;
  color: black;
  font-family: "Inter", Source Sans Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  z-index: 0;
  grid-row: 1/2;
  grid-column: 1/2;
}
.searchBar input::-moz-placeholder {
  color: #CBCBCB;
}
.searchBar input::placeholder {
  color: #CBCBCB;
}
.searchBar input.open {
  border-radius: 50px 50px 0px 0px;
}
.searchBar svg {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}
.searchBar #resultDropdown {
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1;
  align-self: start;
  display: flex;
}
.searchBar #resultDropdown img {
  aspect-ratio: 1/1;
  height: 1rem;
}
.searchBar #resultDropdown ul li:hover {
  filter: brightness(70%);
}

.categorias-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.categorias-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.categorias-dropdown a:hover {
  background-color: rgb(33, 112, 147);
}

.categoryshow {
  display: flex;
  margin-top: 50px;
  background: rgb(78, 184, 221);
  width: 80%;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0px -5px 10px rgba(1, 0, 0, 0);
}

@media screen and (max-width: 767px) {
  header {
    background-color: #4eb8dd;
    display: flex;
    max-height: 5vh;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  .categorias, .searchBar, .icons p {
    display: none; /* Oculta el botón "All Categories" y otros elementos en pantallas pequeñas */
  }
  .titulo {
    display: flex;
    justify-content: center;
  }
  .menu-button-checkbox {
    display: none;
  }
  .menu-button {
    display: flex;
    align-items: center;
    padding: 1em;
    color: white;
    cursor: pointer;
  }
  .menu-button svg {
    width: 24px;
    height: 24px;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0;
    background-color: #4eb8dd;
    width: 100%;
    border-top: 1px solid white; /* Añadido para separar del header */
  }
  .mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .mobile-menu li {
    color: white;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid white; /* Añadido para separar los elementos del menú */
  }
  #menuBtn:checked + .menu-button + .mobile-menu {
    display: flex;
  }
  .product {
    background: var(--DarkBlue, #217093);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    margin-right: 20px;
    padding: 10px;
    width: 100%; /* Establece el ancho al 100% */
    max-width: 400px; /* O establece un ancho máximo para evitar que se extienda demasiado */
    height: auto; /* Establece la altura a 'auto' para adaptarse al contenido */
  }
  .product {
    margin-right: 20px;
  }
}
.productDetailDisplay {
  width: 575px;
  height: 75px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #c1ebff;
}
.productDetailDisplay span, .productDetailDisplay img {
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4eb8dd;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
.productDetailDisplay :nth-child(1) {
  width: 160px;
}
.productDetailDisplay :nth-child(2) {
  width: 200px;
}
.productDetailDisplay :nth-child(3) {
  width: 45px;
}
.productDetailDisplay :nth-child(4) {
  width: 55px;
}

.productPageContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-content: center;
  height: 80vh;
  padding: 2em;
}
.productPageContainer > div {
  margin: 1.5em;
}
.productPageContainer .productPagePackImages {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.productPageContainer .productPagePackImages #productPageShowingImage {
  border: 1px solid black;
  width: 70%;
  aspect-ratio: 1/1;
  margin: 0.5em;
  -o-object-fit: contain;
     object-fit: contain;
}
.productPageContainer .productPagePackImages .sideImages {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em;
}
.productPageContainer .productPagePackImages .sideImages > img {
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  height: 25%;
  margin: 0.5em;
  border: 1px solid black;
  cursor: pointer;
}
.productPageContainer .productPagePackImages .sideImages > img.selected {
  border: 1px solid red;
}
.productPageContainer .productInfo {
  display: flex;
  flex-direction: row;
  width: 59%;
}
.productPageContainer .productInfo .infoLabel {
  font-size: 24px;
  margin-bottom: 0.2em;
}
.productPageContainer .productInfo div {
  width: 50%;
}
.productPageContainer .productInfo div .color {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.productPageContainer .productInfo div .color input[type=radio] {
  display: none;
}
.productPageContainer .productInfo div .color input[type=radio]:checked + label span {
  transform: scale(1.25);
}
.productPageContainer .productInfo div .color label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1em;
  cursor: pointer;
}
.productPageContainer .productInfo div .color label:hover span {
  transform: scale(1.25);
}
.productPageContainer .productInfo div .color label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  border: 1px solid black;
}

body {
  background-color: #e2f6ff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body.noscroll {
  overflow-y: hidden;
  max-height: 100svh;
}

body.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body.flex-row aside {
  width: 25vw;
  max-width: 25vw;
}
body.flex-row main {
  width: 70vw;
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.hiddenElement {
  visibility: hidden;
}

.hidden {
  display: none;
}

main {
  width: 100vw;
  display: flex;
}
main aside {
  background-color: #c1ebff;
  width: 30vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
main .container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container h1 {
  margin: 2rem;
  margin-bottom: 0;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70svh;
  height: 70svh;
  max-height: 70svh;
  overflow-y: scroll;
  margin-top: 1rem;
}
.categoryContainer .categoryComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.categoryContainer .categoryComponent .category {
  text-align: left;
  background-color: #4eb8dd;
  cursor: pointer;
  padding: 1rem;
  width: 70%;
  margin-right: 10%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 16px;
  margin: 1rem;
  margin-bottom: 0;
}
.categoryContainer .categoryComponent .subcategoriesContainer {
  transition: all 1s;
  overflow: hidden;
  transform-origin: top center;
  max-height: 0;
  width: 70%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.categoryContainer .categoryComponent .subcategoriesContainer .subcategory {
  background-color: #c1ebff;
  margin: 1rem;
  width: 80%;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 16px;
  padding: 1rem;
}

.formContainer {
  justify-self: center;
  align-self: center;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border: solid 1px #DDD;
  color: #217093;
}
.formContainer h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
}
.formContainer form {
  width: 100%;
  display: flex;
}
.formContainer .formColumn {
  display: flex;
  flex-direction: column;
}
.formContainer .formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}
.formContainer .formRow label {
  font-weight: bold;
  font-size: 20px;
}
.formContainer .formRow input {
  border-radius: 4px;
  border: solid 2px #217093;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  width: 90%;
  height: 2rem;
  font-size: 1em;
  color: #353538;
  font-weight: 600;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  padding: 1em;
}
.formContainer .formRow input:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
.formContainer .formRow textarea {
  border-radius: 4px;
  border: solid 2px #217093;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  width: 90%;
  height: 5rem;
  font-size: 1em;
  color: #353538;
  font-weight: 600;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  padding: 1em;
  resize: none;
}
.formContainer .formRow textarea:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
.formContainer .formRow input[type=file] {
  padding: 0em;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}
.formContainer .formRow select {
  border-radius: 4px;
  border: solid 2px #217093;
  box-sizing: border-box;
  width: 90%;
  height: 2rem;
  font-size: 1em;
  color: #353538;
  font-weight: 600;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  padding-left: 1em;
  cursor: pointer;
}
.formContainer .formRow select:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
.formContainer .formRowLine {
  display: flex;
  margin: 1rem;
}
.formContainer .formRowLine label {
  font-weight: bold;
  font-size: 20px;
}
.formContainer .formRowLine input {
  margin-left: 1rem;
}
.formContainer .formAction {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.formContainer .formAction .addBtn {
  font-size: 1em;
  color: #FFF;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #4eb8dd;
  width: 45%;
  height: 3rem;
  transition: background-color 0.2s ease-out;
}
.formContainer .formAction .addBtn:hover, .formContainer .formAction .addBtn:active {
  background-color: #217093;
}
.formContainer .formAction .cancelBtn {
  display: grid;
  place-items: center;
  font-size: 1em;
  color: #353538;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #FC3D39;
  width: 45%;
  height: 3rem;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
}
.formContainer .formAction .cancelBtn:link, .formContainer .formAction .cancelBtn:visited {
  color: #353538;
  text-decoration: none;
}
.formContainer .formAction .cancelBtn:hover, .formContainer .formAction .cancelBtn:active {
  color: #353538;
  text-decoration: none;
  background-color: #E33437;
}

.dropdownMenu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  border: 2px #217093 solid;
  background-color: #c1ebff;
  color: #353538;
  border-radius: 0.25em;
  top: 3.5em;
}
.dropdownMenu .dropdownDivider {
  height: 1px;
  width: 5.5rem;
  background-color: #217093;
}
.dropdownMenu a {
  background-color: #c1ebff;
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  cursor: pointer;
}
.dropdownMenu a:hover {
  filter: brightness(90%);
}

.show {
  max-height: 100vh;
  opacity: 1;
}

.switch-button {
  display: inline-block;
}
.switch-button .toggle-checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: red;
  width: 5rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: gray;
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px black;
}
.switch-button .toggle-checkbox:checked + .switch-button__label {
  background-color: green;
}
.switch-button .toggle-checkbox:checked + .switch-button__label:before {
  transform: translateX(2rem);
}

.slider-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.slider-principal img {
  width: 1596px;
  height: 600px;
}

.purchaseFilterContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
}
.purchaseFilterContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.purchaseFilterContainer label {
  margin: 0 0 12px;
  display: block;
  font-size: 1.25em;
  color: #217093;
  font-weight: 700;
  font-weight: bold;
  font-family: "Inter", "Source Sans Pro", sans-serif;
}
.purchaseFilterContainer select, .purchaseFilterContainer input {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0.5em 1em 0 0.5em;
  padding-bottom: 0.7em;
  background-color: #e2f6ff;
  border: solid 2px #217093;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #353538;
  font-weight: bold;
  font-family: "Inter", "Source Sans Pro", sans-serif;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}
.purchaseFilterContainer select:focus, .purchaseFilterContainer input:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
.purchaseFilterContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 190px;
  height: 55px;
  margin: 10px auto;
  border: none;
  border-radius: 15px;
  padding: 0;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #e2f6ff;
  cursor: pointer;
}
.purchaseFilterContainer .purchaseTableDisplay {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
}
.purchaseFilterContainer .purchaseTableDisplay div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.purchaseFilterContainer .purchaseTableDisplay div span {
  text-align: center;
  width: 20%;
}
.purchaseFilterContainer .purchaseTableDisplay div a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.purchaseContainer {
  display: flex;
  flex-direction: row;
  width: 70vw;
}
.purchaseContainer form {
  max-width: 500px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  background-color: #217093;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.purchaseContainer form label {
  margin: 0 0 12px;
  display: block;
  font-size: 1.25em;
  color: #217093;
  font-weight: 700;
  font-weight: bold;
  font-family: "Inter", "Source Sans Pro", sans-serif;
}
.purchaseContainer form span, .purchaseContainer form select {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0.5em 1em 0 0.5em;
  padding-bottom: 0.7em;
  background-color: #e2f6ff;
  border: solid 2px #217093;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #353538;
  font-weight: bold;
  font-family: "Inter", "Source Sans Pro", sans-serif;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}
.purchaseContainer form span:focus, .purchaseContainer form select:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
.purchaseContainer form button, .purchaseContainer form a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 190px;
  height: 55px;
  margin: 10px auto;
  border: none;
  border-radius: 15px;
  padding: 0;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #e2f6ff;
  cursor: pointer;
}
.purchaseContainer form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
  width: 100%;
}

#resultDropdown {
  padding: 10px;
  background-color: white;
  border: 1px solid;
}

.zoom {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: transform 0.25s ease, opacity 0s linear 0.25s, background 0.25s ease;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  overflow: hidden;
}
.zoom:before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}
.zoom.show {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.25s ease, opacity 0s linear;
}
.zoom.loading {
  background: transparent;
}
.zoom.loading:before {
  display: block;
  animation: loading 0.5s ease infinite alternate;
}
@keyframes loading {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
    box-shadow: inset 0 0 0 140px golf;
  }
}
.zoom.loading .zoom-image {
  opacity: 0;
}
.zoom .zoom-image {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.25s ease;
}

.zoom.show img {
  position: absolute;
  width: 200%; /* ajustar el ancho de la imagen al contenedor */
  height: 200%; /* ajustar la altura de la imagen al contenedor */
  -o-object-fit: cover;
     object-fit: cover; /* ajustar el tamaño de la imagen para cubrir completamente el contenedor */
}

.productCategoryContainer {
  flex-direction: column;
}
.productCategoryContainer .productsShopContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.productCategoryContainer .categoryTitle {
  font-size: 2rem;
  text-align: left;
}

.productInfo > div:nth-child(2) {
  padding: 0.5em;
}
.productInfo > div:nth-child(2) > div:first-of-type {
  display: flex;
  flex-direction: column;
  border: 1px solid #217093;
  background-color: #c1ebff;
  width: 80%;
  padding: 1em;
  border-radius: 0.5em;
}
.productInfo > div:nth-child(2) > div:first-of-type .price {
  font-size: 2rem;
}
.productInfo > div:nth-child(2) > div:first-of-type .separator {
  width: 100%;
  border: 1px solid #217093;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5em;
  margin-left: 0;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount button {
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: none;
  transition: filter 0.2s ease-in-out;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount button img {
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  height: 2rem;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount button:hover {
  filter: brightness(60%);
}
.productInfo > div:nth-child(2) > div:first-of-type .amount input {
  height: 2rem;
  width: 30%;
  text-align: center;
  border: 1px solid #217093;
  padding: 0.2em;
  border-radius: 0.2em;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount input:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px #4eb8dd;
}
.productInfo > div:nth-child(2) > div:first-of-type .amount input[type=number]::-webkit-inner-spin-button,
.productInfo > div:nth-child(2) > div:first-of-type .amount input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.productInfo > div:nth-child(2) > div:first-of-type .addCart {
  font-size: 1.5rem;
  align-self: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #217093;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productInfo > div:nth-child(1) {
  padding: 0.5em;
}
.productInfo > div:nth-child(1) h2 {
  font-size: 3rem;
}
.productInfo > div:nth-child(1) .separator {
  border: 1px solid #217093;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 80%;
}

.filtersAside {
  height: 95vh;
}

.productCardContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border: 2.5px solid #217093;
  border-radius: 0.7em;
  padding: 1em;
  width: 80%;
  max-height: 250px;
}
.productCardContainer .cardTop {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  margin-top: 0;
}
.productCardContainer .cardTop a:is(:link, :active, :visited) {
  text-decoration: none;
  color: black;
}
.productCardContainer .cardTop a:is(:link, :active, :visited) h3 {
  font-size: 2rem;
}
.productCardContainer .cardTop div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #217093;
  background-color: #c1ebff;
  color: #217093;
  font-weight: bolder;
  font-style: italic;
  border-radius: 0.5em;
  padding: 0.5em;
}
.productCardContainer .separator {
  width: 100%;
  border: 1px solid #217093;
  margin-bottom: 0.5em;
}
.productCardContainer .productCardInfo {
  display: flex;
  align-items: center;
  height: 80%;
  flex-wrap: wrap;
}
.productCardContainer .productCardInfo img.productImage {
  width: 15%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 1em;
}
.productCardContainer .productCardInfo .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
}
.productCardContainer .productCardInfo .info .spec p:nth-child(1) {
  font-size: 1.2rem;
  color: #217093;
}
.productCardContainer .productCardInfo .info .spec p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(74, 74, 74);
}
.productCardContainer .productCardInfo .price {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 1rem;
}
.productCardContainer .productCardInfo .price p {
  font-size: 3rem;
  font-style: italic;
  text-align: right;
}
.productCardContainer .productCardInfo .price button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #217093;
  background-color: #c1ebff;
  text-decoration: none;
  color: #217093;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.5em;
  max-height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}
.productCardContainer .productCardInfo .price button img.cart {
  height: 70%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5em;
}/*# sourceMappingURL=main.css.map */