.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 80%;
    height: 350px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.banner img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.slider-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    max-height: 350px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
    transition: transform 0.5s ease-in-out;
    touch-action: pan-y;
    margin-top: 0.5em;
    border-radius: 25px;

}

/* 
.slider {
    border-radius: 25px;

} */

.slider-principal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}


.slider-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

/* .slider {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    touch-action: pan-y;
    max-width: 100%;
    max-height: 350px;
} */


.slider-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 45px;
    height: 10px;
    border-radius: 30%;
    background: rgba(78, 184, 221, 1); 
}

.indicator.active {
    background: rgba(33, 112, 147, 1); 
}

.slider-destacados {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 25px;
    background: black;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1596px;
    height: 300px;
    margin: auto; /* Centra el slider-destacados en la página */
    flex-shrink: 0;
}

.slider-controls button {
    border: none;
    color: white;
    background: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.slider-categories {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    border-radius: 25px;
    background: var(--LightBlue, #DDF1FA);
    width: 80%;
    max-width: 1596px;
    height: 100px;
    margin: auto;
    flex-shrink: 0;
    overflow: hidden; /* Agregado overflow para evitar desbordamiento de elementos flexibles */
    
}

.categories {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--DarkBlue, #217093);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px; /* Puedes ajustar el margen según tus necesidades para separar los elementos */
}

.categories:last-child {
    margin-right: 0; /* Elimina el margen derecho para el último elemento */
}

.categories-controls button {
    border: none;
    color: white;
    background: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

        /* Estilos para las categorías */
        .slider-categories {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden; /* Para ocultar el desbordamiento del contenido que se desplaza */

        }

        .categories-container {
            display: flex;
            animation: slideAnimation 20s linear infinite; /* Ajusta la velocidad y el tiempo según tus necesidades */
        }

        @keyframes slideAnimation {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .categories {
            width: 80px;
            height: 80px;
            flex-shrink: 0;
            border-radius: 20px;
            background: var(--DarkBlue, #217093);
            box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s ease-in-out;
        }

        .categories:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        .categories:hover p {
            font-size: 14px;
        }

        .categories p {
            margin: 0;
            color: white;
            font-weight: bold;
            transition: font-size 0.3s ease-in-out;
            text-align: center;
            line-height: 80px;
        }


@media screen and (max-width: 768px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-top: 0;
        height: 180px;

    }

    .banner img {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .slider-destacados {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 0;
        background: linear-gradient(to bottom right, #000000, #19012d, #19082c, #000000, #000000);
        width: 100%; /* Ajusta el ancho según tus necesidades */
        max-width: 1596px;
        height: 300px;
        margin: auto; /* Centra el slider-destacados en la página */
        flex-shrink: 0;
    }

    .topProducts {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3em;
        width: 125px;
        height: 35px;
        flex-shrink: 0;
        background: linear-gradient(to bottom right, #4f00a9, #e410ff);
        margin-top: -25px;
        margin-left: 60%;
        z-index: 10;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tops-controls {
        position: none;
        /* margin-right: 155px;
        bottom: 180px; */
        right: 20px;
        display: flex;
        gap: 10px;
    }
}


.tops-controls {
        position: absolute;
        /* margin-right: 155px;
        bottom: 180px; */
        right: 20px;
        display: flex;
        gap: 10px;
    }

    .tops-controls button {
        border: none;
        color: white;
        background: none;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
    }