@mixin divFlexRowBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
@mixin flexCenterItems {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterAroundItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexCenterBetweenItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}