<aside>
    
    <h2>Navigation</h2>
    <a href="index.php?controller=Product&action=showAddProducts">Add Products</a>
    <a href="index.php?controller=Product&action=showEditProducts">Edit Products</a>
    <a href="index.php?controller=Category&action=showAddCategories">Add Category</a>
    <a href="index.php?controller=Category&action=showEditCategories">Edit Category</a>
    <a href="index.php?controller=Purchase&action=showPurchases">Purchases</a>
    <a href="index.php?controller=Canvas&action=index">Signature</a>
    <a href="index.php?controller=Product&action=showInterfaz">User Interface</a>
</aside>