<aside>
    <h2>Navigation</h2>
    <a href="index.php?controller=Product&action=showAddProducts" tabindex="51">Add new products</a>
    <a href="index.php?controller=Product&action=showEditProducts" tabindex="52">Edit existing products</a>
    <a href="index.php?controller=Category&action=showAddCategories" tabindex="53">Add new categories</a>
    <a href="index.php?controller=Category&action=showEditCategories" tabindex="54">Edit existing categories</a>
    <a href="index.php?controller=Purchase&action=showPurchases" tabindex="55">Check purchases</a>
    <a href="index.php?controller=Canvas&action=index" tabindex="56">Administrate signature</a>
    <a href="index.php?controller=Product&action=showInterfaz" tabindex="57">Go to user interface</a>
</aside>