*{
    margin: 0px
}

//@import 'scss/login.scss';
@import 'scss/colors.scss';

header{
    background-color: $medBlue;
    display: flex;
    padding: 1em;

    h1{
        padding-left: 1rem;
        color: white;
    }

    .icons{
        display: flex;
        margin-left: auto;
        padding-right: 1rem;
        color: white;
        text-decoration: none;
        
        a{
            display: flex;
            align-items: center;
            text-wrap: nowrap;
            margin-right: 1rem;

            &:link, &:visited{
                text-decoration: none;
                color: white;
            }

            img{
                aspect-ratio: 1/1;
                object-fit: contain;
            }

            p{
                margin-left: 0.5rem;
            }

        }
    }
}

.hiddenElement{
    visibility: hidden;
}

body.test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    width: 15rem;
    
    .categoryComponent{
        display: flex;
        flex-direction: column;
        width: 15rem;
        border: 1px solid black;
        h3{
            text-align: center;
            background-color: $darkBlue;
            
        }
        

        .subcategoriesContainer{
            transition: all 0.7s;
            overflow: hidden;
            transform-origin: top center;
            transform: scale(1,0);
            display: flex;
            max-height: 0;
            flex-direction: column;
            p{
                background-color: $medBlue;
            }
        }
    }

    
}