*{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

//@import 'scss/login.scss';
@import 'scss/colors.scss';

body{
    background-color: $inputBG;
    overflow-x: hidden;
}

body.noscroll{
    overflow-y: hidden;
    max-height: 100svh;
}

::-webkit-scrollbar{
    width: 0px;
}

header{
    background-color: $medBlue;
    display: flex;
    padding: 1em;
    max-height: 5vh;
    h1{
        padding-left: 1rem;
        color: white;
    }

    .icons{
        display: flex;
        margin-left: auto;
        padding-right: 1rem;
        color: white;
        text-decoration: none;
        
        a{
            display: flex;
            align-items: center;
            text-wrap: nowrap;
            margin-right: 1rem;

            &:link, &:visited{
                text-decoration: none;
                color: white;
            }

            img{
                aspect-ratio: 1/1;
                object-fit: contain;
            }

            p{
                margin-left: 0.5rem;
            }

        }
    }
}

.hiddenElement{
    visibility: hidden;
}

main{
    width: 100vw;
    display: flex;

    aside{
        background-color: $lightBlue;
        width: 20vw;
        height: 90vh;
    }

    main{
        width: 80%;
        display: flex;
        flex-direction: column;
        h1{
            margin: 2rem;
            margin-bottom: 0;
        }
    }
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    min-height: 70svh;
    height: 70svh;
    max-height: 70svh;
    overflow-y: scroll;
    margin-top: 1rem;
    .categoryComponent{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        h3{
            text-align: left;
            background-color: $medBlue;
            cursor: pointer;
            padding: 1rem;
            width: 90%;
            user-select: none;
            border-radius: 16px;
            margin: 1rem;
            margin-bottom: 0;
        }
        
        .subcategoriesContainer{
            transition: all 1s;
            overflow: hidden;
            transform-origin: top center;
            max-height: 0;
            width: 100%;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p{
                background-color: $lightBlue;
                margin: 1rem;
                width: 80%;
                margin-bottom: 0;
                user-select: none;
                border-radius: 16px;
                padding: 1rem;
            }

        }
    }
}